/*******************************/
/* quiz mode start button      */
/*******************************/
button[id^="quiz-mode-"][id$="-controls-start"] {
  height: 40px;
  width: 100%;
  background-color: limegreen;
  border: 1px black solid;
  font-size: 19px;
  font-family: var(--styled-font), cursive;
}

button[id^="quiz-mode-"][id$="-controls-start"]:hover {
  background-color: lime;
  transition: background-color 0.75s;
}

button[id^="quiz-mode-"][id$="-controls-start"].loading {
  color: black;
  border-color: black;
  border-width: 3px;
  background-color: darkorange;
  transition: background-color 0.75s;
}

button[id^="quiz-mode-"][id$="-controls-start"]:disabled {
  color: darkred;
  border-color: darkred;
  border-width: 1px;
  background-color: gainsboro;
  transition: background-color 0.25s, color 0.15s;
}

/*******************************/
/* quiz options buttons        */
/*******************************/
button[id^="answer-"] {
  width: 100%;
  margin: 10px;
}

button[id^="answer-"]:disabled {
  cursor: default;
  background-color: gainsboro;
  border-color: lightgray;
  color: gray;
}

button[class^="question-option-"] {
  font-size: 20px;
  box-shadow: 5px 5px 10px gray;
  font-family: var(--clear-font-primary), var(--clear-font-backup), Verdana, sans-serif;
}

.question-option-btn {
  cursor: pointer;
  background-color: lightgrey;
  color: black;
}

.question-option-btn:hover {
  background-color: whitesmoke;
  color: black;
}

.question-option-btn-disabled {
  cursor: default;
  background-color: grey;
}

.question-option-btn-ok {
  background-color: greenyellow;
  color: black;
}

.question-option-btn-nok {
  background-color: lightcoral;
  color: black;
}

/*******************************/
/* quiz control buttons        */
/*******************************/
.question-control-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 350px;
  border: 1px black solid;
  font-family: var(--clear-font-primary), var(--clear-font-backup), Verdana, sans-serif;
}

.static-border:hover:enabled {
  cursor: pointer;
  border: 3px black solid;
}

.dynamic-border {
  position: relative;
}

.dynamic-border::before,
.dynamic-border::after {
  border: 0 solid transparent;
  box-sizing: border-box;
  content: "";
  pointer-events: none;
  position: absolute;
  width: 0;
  height: 0;
  bottom: 0;
  right: 0;
}

.dynamic-border::before {
  border-bottom-width: 2px;
  border-left-width: 2px;
}

.dynamic-border::after {
  border-top-width: 2px;
  border-right-width: 2px;
}

.dynamic-border:hover:enabled {
  cursor: pointer;
}

.dynamic-border:hover:enabled::before,
.dynamic-border:hover:enabled::after {
  border-color: black;
  transition: border-color 0.25s, width 0.25s, height 0.25s;
  width: 100%;
  height: 100%;
}

.dynamic-border:hover:enabled::before {
  transition-delay: 0s, 0s, 0.25s;
}

.dynamic-border:hover:enabled::after {
  transition-delay: 0s, 0.25s, 0s;
}

#prev-question {
  background-color: white;
  color: black;
  margin-right: 5px;
}

#prev-question:disabled {
  background-color: gainsboro;
  border-color: lightgray;
  color: gray;
}

#next-question {
  background-color: white;
  color: black;
  margin-left: 5px;
}

#next-question:disabled {
  background-color: gainsboro;
  border-color: lightgray;
  color: gray;
}

#finish-quiz {
  background-color: lime;
  color: black;
  margin-left: 5px;
}

#finish-quiz:disabled {
  background-color: gainsboro;
  border-color: lightgray;
  color: gray;
}

#stop-quiz {
  width: 150px;
  margin-left: 50px;
  background-color: lightcoral;
}

#stop-quiz:hover {
  background-color: red;
  transition: background-color 1s;
}

#stop-quiz:disabled {
  background-color: gainsboro;
  border-color: lightgray;
  color: gray;
}

div[id$="-wrapper"] {
  display: flex;
  height: 100%;
  position: relative;
  padding: 0px 10px;
}

div[id$="-wrapper"] div[id$="-info"] {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 13px;
  right: 25px;
  z-index: 10;
}

div[id$="-wrapper"] div[id$="-info"].service-ok {
  display: none;
  opacity: 0;
}

div[id$="-wrapper"] div[id$="-info"].service-wait {
  background-image: url(../images/wait.png);
  background-repeat: no-repeat;
  animation: smooth-opacity 0.75s ease-in;
}

div[id$="-wrapper"] div[id$="-info"].service-error {
  background-image: url(../images/info.png);
  background-repeat: no-repeat;
  opacity: 0.8;
}

#end-summary {
  width: 150px;
  background-color: var(--primary-color);
  color: black;
}

#end-summary:hover {
  color: white;
  background-color: dimgray;
  transition: background-color 1s, color 1s;
}

@keyframes smooth-opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.8;
  }
}

@-webkit-keyframes smooth-opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.8;
  }
}
