.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.65);
  transition: opacity 250ms;
  visibility: hidden;
  opacity: 0;
  z-index: 100;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 100px auto;
  padding: 50px;
  background: #fff;
  border: 3px solid black;
  width: 350px;
  height: auto;
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.75);
  position: relative;
}

.popup #popup-buttons {
  display: flex;
  justify-content: space-around;
}

#word-form-btn-accept {
  width: 100px;
  background-color: limegreen;
  border: black solid 1px;
  border-radius: 15px;
  color: black;
  padding: 5px 30px;
  cursor: pointer;
  text-align: center;
  font-family: "Pacifico", cursive;
  font-size: 20px;
}

#word-form-btn-accept:hover {
  background-color: greenyellow;
}

#word-form-btn-cancel {
  width: 100px;
  background-color: crimson;
  border: black solid 1px;
  border-radius: 15px;
  color: black;
  padding: 5px 30px;
  cursor: pointer;
  text-align: center;
  font-family: "Pacifico", cursive;
  font-size: 20px;
}

#word-form-btn-cancel:hover {
  background-color: red;
}

.popup a:link {
  text-decoration: none;
}

.popup a:visited {
  text-decoration: none;
}

.popup a:hover {
  text-decoration: none;
}

.popup a:active {
  text-decoration: none;
}
