#main-content {
  padding: 20px 40px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

#quiz-title-container {
  display: flex;
  width: 100%;
  flex-direction: row;
}

#quiz-title-container-label {
  margin: 5px 0px;
  display: block;
  font-size: 40px;
  font-family: var(--styled-font), cursive;
}

.label-enabled {
  color: black;
}

.label-disabled {
  color: darkgray;
}

#quiz-title-container-status {
  margin: auto;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-right: 50px;
  font-size: 15px;
  font-family: var(--clear-font-primary), var(--clear-font-backup), Verdana, sans-serif;
  user-select: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

div[id^="nav-"][class^="question-status"] {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 24px;
  width: 24px;
  border: 1px solid black;
  border-radius: 15px;
  margin-left: 7px;
  font-size: 10px;
}

div[id^="nav-"][class^="question-status"].nav-disabled {
  background-color: gainsboro;
  border-color: lightgray;
  color: gray;
}

div[class^="question-status"].nav-on:hover {
  cursor: pointer;
}

.question-status0 {
  background-color: darkgrey;
}

.question-status0.nav-on:hover {
  box-shadow: 0px 0px 10px black;
}

.question-status-1 {
  background-color: red;
}

.question-status-1.nav-on:hover {
  box-shadow: 0px 0px 10px darkred;
}

.question-status1 {
  background-color: lime;
}

.question-status1.nav-on:hover {
  box-shadow: 0px 0px 10px green;
}

#nav-info {
  height: 100%;
  width: 100%;
  border-radius: 15px;
  background-color: darkgrey;
  position: absolute;
}

#nav-info.nav-ok {
  display: none;
  opacity: 0;
}

#nav-info.nav-wait {
  background-image: url(../images/wait.png);
  background-repeat: no-repeat;
  animation: status-opacity 0.75s ease-in;
}

#nav-info.nav-error {
  background-image: url(../images/info.png);
  background-repeat: no-repeat;
  opacity: 1;
}

#quiz-modes-container {
  flex-wrap: wrap;
}

.container-hidden {
  display: none;
}

.container-visible {
  display: flex;
  user-select: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

#quiz-mode-tile {
  display: flex;
  flex-direction: column;
  min-height: 210px;
  margin: 0px 25px 25px 0px;
  border: 1px black solid;
  font-family: var(--clear-font-primary), var(--clear-font-backup), Verdana, sans-serif;
}

div.quiz-mode-tile-title {
  padding: 10 10px;
  font-size: 25px;
  letter-spacing: 0px;
  font-weight: 500;
  background-color: rgb(65, 65, 65);
  color: white;
}

div.mode-description-text {
  display: flex;
  height: 21px;
}

#quiz-mode-tile-content {
  padding: 5px 10px;
  font-size: 15px;
}

.quiz-mode-setting-container {
  height: 21px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.quiz-mode-setting-container label {
  width: 130px;
}

.language-flag {
  cursor: pointer;
  filter: grayscale(0.85);
  margin: 0px 5px 0px 0px;
}

.language-flag.language-selected {
  cursor: default;
  filter: grayscale(0);
}

div.quiz-mode-tile-controls {
  display: flex;
  align-items: flex-end;
  height: 100%;
  position: relative;
  padding: 0px 10px;
  margin: 5px 0px 10px 0px;
}

div[id^="quiz-mode-"][id$="-controls-info"] {
  background: url(../images/info.png) no-repeat;
  width: 24px;
  height: 24px;
  position: absolute;
  bottom: 9px;
  right: 18px;
  z-index: 10;
}

div[id^="quiz-mode-"][id$="-controls-info"].hide {
  display: none;
}

p.mode-section-label {
  margin: 0px 0px;
  padding: 12px 0px 0px 0px;
  font-size: 12px;
  font-weight: 900;
  text-decoration: underline;
}

#quiz-question-container {
  flex-direction: column;
  width: 100%;
  height: 100%;
}

#question-word {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  height: 65px;
  font-size: 40px;
  font-family: var(--clear-font-primary), var(--clear-font-backup), Verdana, sans-serif;
}

#question-options {
  display: grid;
  justify-content: center;
  align-items: center;
  margin: 0 25px;
  width: 100% - 25px;
}

div[id^="question-option-"] {
  display: flex;
  align-items: stretch;
  align-content: stretch;
  position: relative;
  height: 300px;
  width: 600px;
}

div[id^="question-header-"] {
  z-index: 10;
  position: absolute;
  transform: rotate(-45deg);
  top: 2px;
  left: -28px;
  background-color: transparent;
  border-left: 60px solid transparent;
  border-right: 60px solid transparent;
}

div[id^="question-header-"].answer-header-enabled {
  border-bottom: 60px solid black;
}

div[id^="question-header-"].answer-header-disabled {
  border-bottom: 60px solid lightgray;
}

div[id^="question-header-"] span {
  position: absolute;
  transform: rotate(45deg);
  font-size: 30px;
  top: 18px;
  left: -11px;
  font-family: var(--clear-font-primary), var(--clear-font-backup), Verdana, sans-serif;
}

div[id^="question-header-"].answer-header-enabled span {
  color: white;
}

div[id^="question-header-"].answer-header-disabled span {
  color: gray;
}

div[id^="question-info-"] {
  position: absolute;
  transform: rotate(45deg);
  height: 28px;
  width: 28px;
  top: 23px;
  left: -14px;
}

div[id^="question-info-"].service-ok {
  display: none;
  opacity: 0;
}

div[id^="question-info-"].service-wait {
  background-color: black;
  background-image: url(../images/wait.png);
  background-repeat: no-repeat;
  animation: status-opacity 0.75s ease-in;
}

div[id^="question-info-"].service-error {
  background-color: lightgray;
  background-image: url(../images/info.png);
  background-repeat: no-repeat;
  opacity: 1;
}

#question-option-0 {
  grid-row: 1;
  grid-column: 1;
}

#question-option-1 {
  grid-row: 1;
  grid-column: 2;
}

#question-option-2 {
  grid-row: 2;
  grid-column: 1;
}

#question-option-3 {
  grid-row: 2;
  grid-column: 2;
}

#question-control {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin: 35px 0px 0px 0px;
}

#quiz-summary {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 400px;
  font-size: 20px;
  font-family: var(--clear-font-primary), var(--clear-font-backup), Verdana, sans-serif;
}

#quiz-summary-img {
  height: 200px;
  width: 200px;
}

@keyframes status-opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes status-opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
