#main-content {
  align-items: normal;
  justify-content: start;
}

#tab-folder {
  width: 100%;
  margin: 30px;
}

.tab-navigation {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

.tab-navigation button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

.tab-navigation button:hover {
  background-color: #ddd;
}

.tab-navigation button.active {
  background-color: #ccc;
}

.tab-content {
  display: none;
  padding: 6px 12px;
  border: 1px solid gray;
  border-top: none;
  background-color: white;
}
