:root {
  --navigation-bar-height: 50px;
}

#main-content {
  align-items: normal;
  justify-content: start;
}

#tab-folder {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 30px;
}

.tab-navigation {
  overflow: hidden;
  border: 1px solid var(--primary-color);
  border-bottom: none;
  background-color: whitesmoke;
}

.tab-navigation button {
  height: var(--navigation-bar-height);
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  padding: 15px;
  width: 150px;
  font-size: 17px;
  font-family: var(--clear-font-primary), Verdana, sans-serif;
}

.tab-navigation button:hover {
  background-color: var(--primary-color);
}

.tab-navigation button.active {
  cursor: unset;
  background-color: white;
}

.tab-content {
  display: none;
  padding: 6px 12px;
  height: calc(100% - var(--navigation-bar-height));
  border: 1px solid var(--primary-color);
  border-top: none;
  background-color: white;
}

.tab-content.visible {
  display: flex;
}

.tab-content.hidden {
  display: none;
}
