:root {
  --nav-bar-height: 50px;
  --table-border-radius: 10px;
  --collapse-button-time: 0.1s;
  --collapse-content-time: 0.2s;
}

#main-content {
  align-items: normal;
  justify-content: start;
}

#tab-folder {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 50px 50px;
}

.tab-navigation {
  overflow: hidden;
  border: 1px solid var(--primary-color);
  border-bottom: none;
  background-color: whitesmoke;
}

.tab-navigation button {
  height: var(--nav-bar-height);
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  padding: 15px;
  width: 150px;
  font-size: 17px;
  font-family: var(--clear-font-primary), Verdana, sans-serif;
}

.tab-navigation button:hover {
  background-color: var(--primary-color);
}

.tab-navigation button.active {
  cursor: unset;
  background-color: white;
}

.tab-content {
  display: none;
  padding: 30px 30px;
  height: calc(100% - var(--nav-bar-height));
  border: 1px solid var(--primary-color);
  border-top: none;
  background-color: white;
}

.tab-content.visible {
  display: flex;
}

.tab-content.hidden {
  display: none;
}

div.mode-setting-flag-checkbox input[type="checkbox"] {
  display: none;
}

label.mode-setting-flag-img {
  width: 32px;
  margin-top: 7px;
  padding: 10px;
  display: inline-block;
  position: relative;
  cursor: pointer;
}

label.mode-setting-flag-img:before {
  color: white;
  content: " ";
  display: block;
  border: 1px solid white;
  border-radius: 50%;
  position: absolute;
  top: -4px;
  left: -4px;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 23px;
  transition-duration: 0.4s;
  transform: scale(0);
}

label.mode-setting-flag-img img {
  transition-duration: 0.2s;
  transform-origin: 50% 50%;
}

input[type="checkbox"]:checked + label.mode-setting-flag-img:before {
  content: "✓";
  background-color: blue;
  box-shadow: 0 0 5px gray;
  z-index: 10;
  transform: scale(1);
}

input[type="checkbox"]:checked + label.mode-setting-flag-img img {
  transform: scale(1);
  z-index: -1;
}

/************************************/
/* quiz modes tab - common          */
/************************************/

div.vertical-separator {
  width: 10px;
  border-left: 1.5px dashed gainsboro;
  margin-left: 10px;
  margin-top: 25px;
  margin-bottom: 25px;
}

div.quiz-modes-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: calc(100% / 3 - 20px);
  height: 100%;
  padding: 5px 15px;
}

p.section-title {
  font-size: 18px;
  font-weight: 600;
  font-family: var(--clear-font-primary), Verdana, sans-serif;
  font-style: italic;
  text-decoration: underline;
  padding-left: 10px;
  margin-bottom: 30px;
}

/************************************/
/* quiz modes tab - setting boxes   */
/************************************/

div.setting-box {
  width: calc(100% - 20px);
  margin: 3px 10px;
}

.collapsible-button:before {
  content: '\2795';
  font-size: 13px;
  float: left;
  margin-right: 10px;
}

.collapsible-button {
  cursor: pointer;
  padding: 12px;
  width: 100%;
  color: black;
  border: 1px solid black;
  border-radius: 15px;
  text-align: left;
  font-size: 15px;
  font-family: var(--clear-font-primary), Verdana, sans-serif;
  transition-property: border-radius, border-bottom;
  transition-duration: var(--collapse-button-time);
  transition-timing-function: linear;
  transition-delay: var(--collapse-content-time);
}

[draggable="true"] .collapsible-button:after {
  content: '\2261';
  font-size: 13px;
  float: right;
}

div.setting-box .collapsible-button:hover {
  box-shadow: inset 0 0 5px black;
}

.collapsible-button.active:before {
  content: "\2796";
}

.collapsible-button.active {
  transition-delay: 0s;
}

div.setting-box .collapsible-button.active:hover {
  box-shadow: inset 0 0 5px black;
}

div.setting-box[draggable="true"] .collapsible-button {
  background-color: cornflowerblue;
}

div.setting-box[draggable="true"] .collapsible-button.active {
  background-color: cornflowerblue;
  border-radius: 15px 15px 0px 0px;
  border-bottom: none;
}

div.setting-box[draggable="false"] .collapsible-button {
  background-color: darkgray;
}

div.setting-box[draggable="false"] .collapsible-button.active {
  background-color: darkgray;
  border-radius: 15px 15px 0px 0px;
  border-bottom: none;
}

.collapsible-content {
  padding: 0 18px;
  padding-bottom: 0px;
  border: 1px solid black;
  border-radius: 0px 0px 15px 15px;
  overflow: hidden;
  background-color: whitesmoke;
  transition-property: max-height, border, padding-bottom;
  transition-duration: var(--collapse-content-time);
  transition-timing-function: ease-out;
}

.collapsible-content.collapsed {
  padding-bottom: 0px;
  border-width: 0px;
  max-height: 0px;
  transition-delay: 0.0s;
}

.collapsible-content.expanded {
  padding-bottom: 7px;
  border-width: 1px;
  border-top: none;
  max-height: 250px;
  transition-delay: var(--collapse-button-time);
}

div.mode-setting-text-edit, div.mode-setting-number-edit {
  margin: 5px 10px;
}

input.mode-setting-value {
  width: 100%;
  font-size: 15px;
  font-family: var(--clear-font-primary), Verdana, sans-serif;
}

label.mode-setting-label {
  display: block;
  width: 100%;
  font-size: 12px;
  font-family: var(--clear-font-primary), Verdana, sans-serif;
}

/************************************/
/* quiz modes tab - drop targets    */
/************************************/

.drop-target {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2px;
  width: calc(100% - 12px);
  border: 1px dotted;
  border-radius: 6px;
  font-family: var(--clear-font-primary), Verdana, sans-serif;
  transition: height 0.3s linear;
}

.drop-target.hide {
  visibility: hidden;
}

.drop-target.show {
  height: 15px;
  visibility: visible;
  border-color: orange;
  color: orange;
  margin: 3px 5px;
}

.drop-target.show.over {
  height: 40px;
  border-color: green;
  color: green;
}

/************************************/
/* quiz modes tab - available modes */
/************************************/

table#quiz-modes-available {
  width: 100%;
  border: 1px solid black;
  border-radius: var(--table-border-radius);
  border-spacing: 0px;
}

table#quiz-modes-available tbody tr.selected {
  background-color: chartreuse;
}

table#quiz-modes-available tbody tr.not-selected {
  background-color: transparent;
}

table#quiz-modes-available tbody tr:hover {
  background-color: lightgreen;
  cursor: pointer;
}

table#quiz-modes-available tbody tr:hover:last-child td:first-child {
  border-bottom-left-radius: var(--table-border-radius);
}

table#quiz-modes-available tbody tr:hover:last-child td:last-child {
  border-bottom-right-radius: var(--table-border-radius);
}

table#quiz-modes-available th {
  height: 40px;
  font-size: 19px;
  font-family: var(--styled-font), cursive;
  background-color: var(--primary-color);
  border-bottom: 1px solid black;
}

table#quiz-modes-available th:first-child {
  width: 70px;
  border-radius: var(--table-border-radius) 0px 0px 0px;
}

table#quiz-modes-available th:last-child {
  border-radius: 0px var(--table-border-radius) 0px 0px;
}

table#quiz-modes-available td {
  height: 35px;
  font-size: 15px;
  font-family: var(--clear-font-primary), Verdana, sans-serif;
}

table#quiz-modes-available td:first-child {
  text-align: center;
}

table#quiz-modes-available td:last-child {
  padding-left: 15px;
}

button#quiz-modes-add {
  height: 40px;
  width: 100%;
  margin-top: auto;
  margin-bottom: 10px;
  background-color: limegreen;
  border: 1px black solid;
  font-size: 19px;
  font-family: var(--styled-font), cursive;
}

/************************************/
/* quiz modes tab - mode edit       */
/************************************/

div#mode-placeholder {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin-bottom: 10px;
  border: 1px dashed;
  border-radius: 20px;
  font-size: 12px;
  font-family: var(--clear-font-primary), Verdana, sans-serif;
}

div#mode-placeholder.mode-deselected {
  align-items: center;
  justify-content: center;
  border-color: lightcoral;
  color: lightcoral;
}

div#mode-placeholder.mode-selected {
  padding: 8px 0px;
  align-items: flex-start;
  justify-content: flex-start;
  border-color: gray;
  color: gray;
}
