body {
    margin: 0px;
    padding: 0px;
    height: 100vh;
    display: flex;
    flex-direction: column; 
}

header {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: yellowgreen;
}

header form {
    margin: 0px;
}

footer {
    height: 40px;
    margin-top: auto;
}

#site-title {
    margin: 0 10px;
    font-size: 50px;
    font-family: 'Pacifico', cursive;
}

#show-words {
    height: 75px;
    width: 75px;
    margin: 0 10px;
    color: transparent !important;
    border: 0px solid black;
    background: url(../images/dictionary.png) no-repeat;
}

#show-words:hover {
    background: url(../images/dictionary-hover.png) no-repeat;
}