:root {
  --primary-color: lightgray;
  --btn-quiz-shadow-size: 50px;
}

body {
  margin: 0px;
  padding: 0px;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--primary-color);
}

header form {
  margin: 0px;
}

footer {
  height: 40px;
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
  font-family: "Pacifico", cursive;
}

#main-content {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(../images/background/background.png);
  background-position: 15px 15px;
}

#site-logo {
  height: 64px;
  width: 64px;
  margin: 0 0 8 10px;
  background: url(../images/sw-logo.png) no-repeat;
}

#site-title {
  margin: 0 5px;
  font-size: 50px;
  font-family: "Pacifico", cursive;
}

header .filler {
  flex-grow: 1;
  text-align: center;
}

#btn-show-words {
  height: 64px;
  width: 64px;
  margin: 0 20px;
  color: transparent !important;
  border: 0px solid black;
  background: url(../images/dictionary.png) no-repeat;
}

#btn-show-words:hover {
  background: url(../images/dictionary-hover.png) no-repeat;
}

#btn-page-back {
  height: 64px;
  width: 64px;
  margin: 0 20 0 0px;
  color: transparent !important;
  border: 0px solid black;
  background: url(../images/back.png) no-repeat;
}

#btn-page-back:hover {
  background: url(../images/back-hover.png) no-repeat;
}

#btn-add-word {
  height: 64px;
  width: 64px;
  margin: 0 10 0 0px;
  color: transparent !important;
  border: 0px solid black;
  background: url(../images/add.png) no-repeat;
}

#btn-add-word:hover {
  background: url(../images/add-hover.png) no-repeat;
}

#btn-quiz-start {
  padding: 80px 100px;
  position: relative;
  color: black;
  background: none;
  cursor: pointer;
  border: 3px solid;
  font-family: "Pacifico", cursive;
  font-size: 50px;
  box-shadow: 0 0 var(--btn-quiz-shadow-size) 0 gray;
  animation: glow 2.5s ease-in-out infinite 5s;
}

#btn-quiz-start:hover {
  animation-play-state: paused;
}

@keyframes glow {
  0% {
    box-shadow: 0 0 var(--btn-quiz-shadow-size) 0 gray;
  }
  50% {
    box-shadow: 0 0 0 0 gray;
  }
}

#btn-quiz-start:before {
  inset: 0;
  position: absolute;
  line-height: 248px;
  content: "let's go !!!";
  background: var(--primary-color);
  --progress: 97%;
  clip-path: polygon(100% 0, var(--progress) var(--progress), 0 100%, 100% 100%);
  transition: clip-path 0.5s;
}

#btn-quiz-start:hover:before {
  --progress: 3%;
}

#quiz-start-frame {
  background: white;
  padding: 25px;
}

#word-form.form-hidden {
  display: none;
}

#word-form.form-visible {
  display: block;
}

#table-words {
  display: block;
  width: 100%;
  margin: 50px 100px;
  empty-cells: show;
  border: 1px solid black;
  border-spacing: 0;
  border-collapse: collapse;
}

#table-words thead {
  display: block;
  position: relative;
  width: 100%;
  height: 75px;
  line-height: 70px;
  text-align: center;
  background-color: var(--primary-color);
  font-family: "Pacifico", cursive;
  font-size: 25px;
}

#table-words thead tr {
  display:flex;
  height: 100%;
}

#table-words tbody {
  display: block;
  max-height: 70vh;
  overflow-y: auto;
}

#table-words td {
  height: 100%;
  line-height: 45px;
  display: inline-block;
  vertical-align: middle;
  text-align: left;
}

#table-words tbody tr {
  display:flex;
  padding: 3px 10px;
  height: 50px;
}

#table-words tbody tr#no-words-row.row-hidden {
  display: none;
}

#table-words tbody tr#no-words-row.row-loading {
  display: block;
  background-color: whitesmoke;
  height: 30vh;
  text-align: center;
}

#table-words tbody tr#no-words-row.row-visible {
  display: block;
  background-color: whitesmoke;
  color: red;
  height: 30vh;
  text-align: center;
}

#table-words tbody td#no-words-text {
  font-family: "Pacifico", cursive;
  font-size: 20px;
}

#table-words td:nth-child(1),
#table-words th:nth-child(1) {
  flex-basis:10%;
  flex-grow:1;
}

#table-words td:nth-child(2),
#table-words th:nth-child(2) {
  flex-basis:10%;
  flex-grow:1;
  text-align: center;
}

#table-words td:nth-child(3),
#table-words th:nth-child(3) {
  flex-basis:10%;
  flex-grow:1;
}

#table-words td:nth-child(4),
#table-words th:nth-child(4) {
  flex-basis:75%;
  flex-grow:3;
}

#table-words tbody tr:nth-child(n){
  background-color: white;
}

#table-words tbody tr:nth-child(2n){
  background-color: #EEEEEEEE;
}