body {
    margin: 0px;
    padding: 0px;
}

header {
    background-color: yellowgreen;
}

header h3 {
    margin: 0px;
}

#site-title {
    text-align: center;
    font-size: 50px;
    font-family: 'Pacifico', cursive;
}