.tile-size-big {
  width: 600px;
  flex-grow: 4;
}

.tile-size-medium {
  width: 500px;
  flex-grow: 4;
}

.tile-size-small {
  width: 400px;
  flex-grow: 2;
}

.tile-color-primary {
  background-color: var(--primary-color);
}

.tile-color-red {
  background-color: red;
}
